<div class="container">
    <div class = 'login_block'>
        <div class="login_header">
                <p>登入</p>
        </div>
        <div class="input_row">
            <p>帳號:</p>
            <input type="text" name="account" (keyup)="getAccount($event)"/>
        </div>
        <div class="input_row">
            <p>密碼:</p>
            <input type="password"  (keyup)="getPassword($event)" />
        </div>
        <div class="button_row">
            <button (click)="getSubmit()" >login</button>
            <a href="#">還未註冊？點我進行註冊</a>
        </div>
    </div>
</div>